<!-- <div ui-content-for="title">
  <span>新建调查问卷</span>
</div>

<div class="scrollable">
 <div class="scrollable-content section"> -->
   
  <form role="form">
    <fieldset>
      <legend>
            简答题
        <div class="pull-right">
             完成
        </div>
        </legend>
        <div class="form-group has-success has-feedback">
          <input type="text"
                 class="form-control"
                 placeholder="题目" ng-model="ques.title" ng-blur="lostfouce($event,ques.title)">
        </div>
        <div class="form-group">
          <textarea class="form-control" placeholder="" rows="10" cols="100" ng-model="ques.ans">答案区
          </textarea>
        </div>
    </fieldset>
    <hr>

   <button class="btn btn-primary btn-block" ng-click="addQues(ques)">
     保   存
    </button>

  </form>
<!--  </div>
</div> -->
